.QuesAns{
  margin-left: 500px;
}

.timer{
    float: right;
    /* margin-right: 300px; */
    width: 5rem;
    height: inherit;
    background-color: rgb(155, 186, 245);
}

button#previous{
    margin-right: 60px;;
}
button#next{
    margin-left: 100px;;
}
button#submit{
    margin-left: 100px;;
}

.topMargin{
    margin-top: 1rem;
}
.bottomMargin{
    margin-bottom: 2rem;
}
.colMargin{
    margin-top: "-65px";
}
.downloadBtn{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

